path {
    fill: none;
    stroke-width: 1px;
    stroke: #222;
}

.lineChart{
    stroke:#000;
    stroke-dasharray:4;
}

.yeartext{
    text-anchor:start;
    font-size: 18px;
    fill: #404040;
    stroke-width: 4.8px;
    font-weight:bold;
    /*font-size:4.9em*/
    /*stroke: #e5e5e5;*/
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.sideBar {
    display: inline-block;
    width: 30%;
    float:right;
}

.content {
    display: inline-block;
    width: 70%;
}

.brush .selection {
    fill-opacity: .5;
}

.yearCircle {
    fill: #08A723;
}

.attackSelected {
    stroke: #08A723;
    stroke-width: 4px;
}

.yearSelected {
    stroke: #FF5151;
    stroke-width: 4px;
}

.graticule {
  fill: none;
  stroke: none;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.land {
  fill: lightgray;
  stroke: gray;
  stroke-width: 0.5px;
}

.boundary {
  fill: none;
  stroke: gray;
  stroke-width: 0.5px;
}
